body{
    background-image: url(images/AMMARL.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

h6 {
  text-align: center;
  text-transform: uppercase;
  color: #044704;
  font-size: 90px;
}
